body{
    max-width:1440px ;
    margin:0 auto ;
    width: 75%;
}

header{
    background-color: rgba(229, 84, 115, 0.10);
padding-bottom: 50px;
    
}
header #nav-menu {
    margin: 20px auto;
}
#nav-menu>ul {
    display: flex;
    justify-content: space-around;
}
#nav-menu ul li {
    margin: 30px auto;
    list-style-type: none;
   
   
   
    
}
#nav-menu ul li a {
    margin: 30px auto;
    background: darkslateblue;
    text-decoration: none;
   
   font-size: 25px;
   color: beige;
   padding: 20px;
}
#nav-menu ul li a:hover {
    cursor: pointer;
background: darkorchid;
    
}
#nav-menu li .dropdown{
display: none;
position: absolute;
/* background-color: rgb(245, 14, 175); */
padding:5px ;
}
#nav-menu li:hover .dropdown{
    display: block;
}

.container{
    height: 400PX;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container h1{
    font-weight: bold;
    width: 634px;
margin-left: 20px;
color: #272727;

font-size: 70px;
}
.container p{
    width: 634px;
margin-left: 20px;
color: rgba(39, 39, 39, 0.60);


font-size: 18px;
}
button{
    color: #FFF;
padding: 5px;
border-radius: 8px;
background: #E55473;

margin-left: 20px;

}
/* .container .head-img .img1{
width: 20px;
height: 30px

} */
/* section making */
.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.main-menu .parent{
   padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   box-sizing: border-box;
   padding: 5px;
}
.main-menu h1{
    color: #272727;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

.main-menu .parent .child1{
   
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    border: 5px solid white;
   
}
.main-menu .parent .child1 img{
    width: 310px;
height: 428px;
}
.main-menu .parent .child2{
   
    border: 5px solid white;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.main-menu .parent .child2 img{
    width: 310px;
height: 428px;
}
.main-menu .parent .child3{
    border: 5px solid white;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.main-menu .parent .child3 img{
    width: 310px;
height: 428px;
}
/*  */
.main-menu2 .emoji{
    height: 100%;
    width: 75%;
    background: rgba(39, 39, 39, 0.05);
    padding: 20PX 50PX;
    margin-left: 95PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-menu2 .emoji .hold1{
   
    text-align: center;
    
}
.main-menu2 .emoji .hold2{
   
    text-align: center;
    
}
.main-menu2 .emoji .hold3{
   
    text-align: center;
    
}